<header  th:fragment="header">
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img th:src="@{/images/Round-pen-tip-logo.png}" style="float:left;width:50px;"/>
                <a th:href="@{/}" class="navbar-brand" style="margin-left:0px; font-style: italic">BLOGSPOT</a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false">Admin<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a th:href="@{/admin/categories/}">Categories</a></li>
                            <li><a th:href="@{/admin/users/}">Users</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/article/create}">
                            Create Story
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}">
                            My Profile
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">
                            Get Out
                        </a>
                    </li>

                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/register}">
                            Registration
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">
                            Get In
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>